<footer class="krypton-footer">
    <div class="container">
        <!-- Columns -->
        <div class="columns footer-columns is-vcentered">
            <div class="column is-6 footer_left">
                <div class="floatleft">
                    <span>Safemoon Protocol</span>
                    <p>The safemoon protocol is a community driven. fair lunched Defi Token. Three simple functions
                        occur during each trade: Reflection</p>
                </div>
            </div>
            <!-- Links group -->
            <div class="column is-6 footer_right md">
                <ul class="footer_links">
                    <li>
                        <a href="#">
                            <img class="socials" src="/img/icons/social/aqua/discord.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="socials" src="/img/icons/social/aqua/telegram.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="socials" src="/img/icons/social/aqua/reddit.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="socials" src="/img/icons/social/aqua/instagram.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="socials" src="/img/icons/social/aqua/twitter.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="columns res">
            <div class="column is-12 paddingtop14">
                <ul class="navbar_links_res">
                    <li>
                        <a href="#">
                            <img class="socials" src="/img/icons/social/aqua/discord.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="socials" src="/img/icons/social/aqua/telegram.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="socials" src="/img/icons/social/aqua/reddit.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="socials" src="/img/icons/social/aqua/instagram.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="socials" src="/img/icons/social/aqua/twitter.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="columns footer-columns is-vcentered underline">
            <div class="column is-6 md">
                <p class="copyrights">Copyright @2021 Safemoon LLC. | All Rights Reserved</p>
            </div>
            <div class="column is-6 res">
                <p class="copyrights">Copyright @2021 Safemoon LLC.</p>
            </div>
            <div class="column is-6 paddingbottom20 mobile_md">
                <ul class="footer_li">
                    <li><a href="">Cookie Policy</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms of service</a></li>
                </ul>
            </div>
            <div class="column is-6 mobile_sm">
                <div class="columns">
                    <div class="column is-4">
                        <a href="">Cookie Policy</a>
                    </div>
                    <div class="column is-4">
                        <a href="">Privacy Policy</a>
                    </div>
                    <div class="column is-4">
                        <a href="">Terms of service</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright -->
    </div>

    <!-- Absolute image -->
    <img class="solar-system" src="/img/bg/solar.svg" alt="">
</footer>