<nav class="top_header d-md-none">
    <div class="container">
        <div class="columns md">
            <div class="column is-6">
                <a href="index.html">
                    <span class="top_header_name">THE OFFICIAL HOME OF SAFEMOON</span>
                </a>
            </div>
            <div class="column is-6 paddingtop14">
                <ul class="navbar_links">
                    <li>
                        <a href="#">
                            <img class="socials" src="/img/icons/social/aqua/discord.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="socials" src="/img/icons/social/aqua/telegram.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="socials" src="/img/icons/social/aqua/reddit.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="socials" src="/img/icons/social/aqua/instagram.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="socials" src="/img/icons/social/aqua/twitter.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="columns res">
            <div class="column is-12 paddingtop14">
                <ul class="navbar_links">
                    <li>
                        <a href="#">
                            <img class="socials" src="/img/icons/social/aqua/discord.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="socials" src="/img/icons/social/aqua/telegram.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="socials" src="/img/icons/social/aqua/reddit.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="socials" src="/img/icons/social/aqua/instagram.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="socials" src="/img/icons/social/aqua/twitter.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<nav x-data="initNavbar()" class="navbar is-light" :class="{
        'is-dark-mobile': mobileOpen,
        '': !mobileOpen
    }">
    <div class="container">
        <div class="navbar-brand-top">

        </div>
        <div class="navbar-brand">
            <a href="index.html" class="navbar-item">
                <img class="rotating" src="/img/logo/krypton.svg" alt="">
                <span class="brand-name">Krypton</span>
            </a>
            <div class="navbar-burger" @click="openMobileMenu()">
                <div class="menu-toggle">
                    <span class="icon-box-toggle" :class="{
                            'active': mobileOpen,
                            '': !mobileOpen
                        }">
                        <span class="rotate">
                            <i class="icon-line-top"></i>
                            <i class="icon-line-center"></i>
                            <i class="icon-line-bottom"></i>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div id="navbarMenu" class="navbar-menu light-menu" :class="{
                'is-active': mobileOpen,
                '': !mobileOpen
            }">
            <div class="navbar-end">
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="/">Home</a>
                </div>
                <!-- Menu item -->
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="token.html">Token</a>
                </div>
                <!-- Menu item -->
                <!--<div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="ico.html">Ico</a>
                </div>-->
                <!-- Menu item -->
				<div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="whitepaper.html">Whitepaper</a>
                </div>
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="roadmap.html">Roadmap</a>
                </div>
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="branding.html">Branding</a>
                </div>
                <!-- Menu item -->
                <!--<div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="blog.html">Media</a>
                </div>-->
                <!-- Menu item -->
                <!--<div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="branding.html" target="_blank">
                        <img class="telegram" src="/img/logo/telegram.svg" alt="">
                        Telegram
                    </a>
                </div>-->
                <!-- Sign up -->
                <div class="navbar-item is-nav-link">
                    <a href="how-to-buy.html" class="button k-button k-primary raised has-gradient slanted">
                        <span class="text">Buy Now</span>
                        <span class="front-gradient"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>